---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const platforms: Array<CompatibilityItem> = [
  {
    title: "Palcare India",
    icon: "orgs/Palcare",
    url: "https://palcareindia.com/",
  },
  {
    title: "CAPED India",
    icon: "orgs/CapedIndia",
    url: "https://www.capedindia.org/",
  },
];
---

<ContentSection title="Organisations" id="orgs">
  <!-- <Fragment slot="lead">
    TCT <span class="text-primary">2023</span>
  </Fragment> -->
  <CompatibilityList items={platforms} title="We are donating to" />
</ContentSection>
