---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Tackling Cancer Together" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    <!-- <span class="text-primary"></span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience. -->
    <span>
      Tackling Cancer Together is a 3k and 5k race organized to raise awareness
      and funds for cancer care and treatment. The event brings together
      individuals, families, and communities to join in the fight against
      cancer.
    </span>
    <br />
    <span>
      We are thrilled to be hosting this event to support those affected by
      cancer and make a positive impact in our community. The race will take
      place virtually on June 5th, 2023. Participants can complete the race from
      any location of their choosing, whether it's on a treadmill or in their
      neighbourhood. Whether you're a seasoned runner or just starting out, we
      encourage you to participate and help us raise funds for a great cause.
    </span>
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
